In [6]:
import pandas as pd
data = pd.read_excel("global_superstore.xlsx")
print(data)

       Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
0       40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
1       26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07    Second Class
2       25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18     First Class
3       13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30     First Class
4       47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06        Same Day
...       ...                       ...        ...        ...             ...
51285   29002   IN-2015-KE1642066-42174 2015-06-19 2015-06-19        Same Day
51286   34337  US-2014-ZD21925140-41765 2014-05-06 2014-05-10  Standard Class
51287   31315  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class
51288    9596   MX-2013-RB1979518-41322 2013-02-17 2013-02-21  Standard Class
51289    6147   MX-2013-MC1810093-41416 2013-05-22 2013-05-26    Second Class

        Customer ID       Customer Name      Segment  Postal Code  \
0      AB-100151402       Aaron Bergman     Consumer      73120.0
1         JR-162107       Justin Ritter    Corporate          NaN
2         CR-127307        Craig Reiter     Consumer          NaN
3        KM-1637548    Katherine Murray  Home Office          NaN
4        RH-9495111         Rick Hansen     Consumer          NaN
...             ...                 ...          ...          ...
51285    KE-1642066     Katrina Edelman    Corporate          NaN
51286  ZD-219251408  Zuschuss Donatelli     Consumer      37421.0
51287  ZD-219251404  Zuschuss Donatelli     Consumer      94109.0
51288    RB-1979518          Ross Baird  Home Office          NaN
51289    MC-1810093       Mick Crebagga     Consumer          NaN

                City  ...   Product ID         Category Sub-Category  \
0      Oklahoma City  ...  TEC-PH-5816       Technology       Phones
1         Wollongong  ...  FUR-CH-5379        Furniture       Chairs
2           Brisbane  ...  TEC-PH-5356       Technology       Phones
3             Berlin  ...  TEC-PH-5267       Technology       Phones
4              Dakar  ...  TEC-CO-6011       Technology      Copiers
...              ...  ...          ...              ...          ...
51285           Kure  ...  OFF-FA-3072  Office Supplies    Fasteners
51286    Chattanooga  ...  FUR-FU-4070        Furniture  Furnishings
51287  San Francisco  ...  OFF-AR-5321  Office Supplies          Art
51288       Valinhos  ...  OFF-BI-2919  Office Supplies      Binders
51289       Tipitapa  ...  OFF-PA-3990  Office Supplies        Paper

                                        Product Name      Sales Quantity  \
0                                   Samsung Convoy 3    $221.98        2
1          Novimex Executive Leather Armchair, Black  $3,709.40        9
2                  Nokia Smart Phone, with Caller ID  $5,175.17        9
3                     Motorola Smart Phone, Cordless  $2,892.51        5
4                     Sharp Wireless Fax, High-Speed  $2,832.96        8
...                                              ...        ...      ...
51285                  Advantus Thumb Tacks, 12 Pack     $65.10        5
51286  Eldon Image Series Desk Accessories, Burgundy     $16.72        5
51287                                     Newell 341      $8.56        2
51288                        Acco Index Tab, Economy     $13.44        2
51289        Eaton Computer Printout Paper, 8.5 x 11     $61.38        3

      Discount    Profit Shipping Cost  Order Priority
0          0.0    $62.15        40.770            High
1          0.1  -$288.77       923.630        Critical
2          0.1   $919.97       915.490          Medium
3          0.1   -$96.54       910.160          Medium
4          0.0   $311.52       903.040        Critical
...        ...       ...           ...             ...
51285      0.0     $4.50         1.010          Medium
51286      0.2     $3.34         1.930            High
51287      0.0     $2.48         1.580            High
51288      0.0     $2.40         1.003          Medium
51289      0.0     $1.80         1.002            High

[51290 rows x 24 columns]

In [12]:
print(data.head(10))

   Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
0   40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
1   26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07    Second Class
2   25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18     First Class
3   13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30     First Class
4   47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06        Same Day
5   22732    IN-2014-JM156557-41818 2014-06-28 2014-07-01    Second Class
6   30570   IN-2012-TS2134092-41219 2012-11-06 2012-11-08     First Class
7   31192   IN-2013-MB1808592-41378 2013-04-14 2013-04-18  Standard Class
8   40099  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
9   36258  CA-2012-AB10015140-40974 2012-03-06 2012-03-07     First Class

    Customer ID     Customer Name      Segment  Postal Code           City  \
0  AB-100151402     Aaron Bergman     Consumer      73120.0  Oklahoma City
1     JR-162107     Justin Ritter    Corporate          NaN     Wollongong
2     CR-127307      Craig Reiter     Consumer          NaN       Brisbane
3    KM-1637548  Katherine Murray  Home Office          NaN         Berlin
4    RH-9495111       Rick Hansen     Consumer          NaN          Dakar
5     JM-156557       Jim Mitchum    Corporate          NaN         Sydney
6    TS-2134092     Toby Swindell     Consumer          NaN        Porirua
7    MB-1808592        Mick Brown     Consumer          NaN       Hamilton
8  AB-100151402     Aaron Bergman     Consumer      73120.0  Oklahoma City
9  AB-100151404     Aaron Bergman     Consumer      98103.0        Seattle

   ...   Product ID    Category Sub-Category  \
0  ...  TEC-PH-5816  Technology       Phones
1  ...  FUR-CH-5379   Furniture       Chairs
2  ...  TEC-PH-5356  Technology       Phones
3  ...  TEC-PH-5267  Technology       Phones
4  ...  TEC-CO-6011  Technology      Copiers
5  ...  TEC-PH-5842  Technology       Phones
6  ...  FUR-CH-5378   Furniture       Chairs
7  ...  FUR-TA-3764   Furniture       Tables
8  ...  FUR-BO-5957   Furniture    Bookcases
9  ...  FUR-CH-4421   Furniture       Chairs

                                        Product Name      Sales Quantity  \
0                                   Samsung Convoy 3    $221.98        2
1          Novimex Executive Leather Armchair, Black  $3,709.40        9
2                  Nokia Smart Phone, with Caller ID  $5,175.17        9
3                     Motorola Smart Phone, Cordless  $2,892.51        5
4                     Sharp Wireless Fax, High-Speed  $2,832.96        8
5                Samsung Smart Phone, with Caller ID  $2,862.68        5
6     Novimex Executive Leather Armchair, Adjustable  $1,822.08        4
7       Chromcraft Conference Table, Fully Assembled  $5,244.84        6
8  Sauder Facets Collection Library, Sky Alder Fi...    $341.96        2
9         Global Push Button Manager's Chair, Indigo     $48.71        1

  Discount    Profit Shipping Cost  Order Priority
0      0.0    $62.15         40.77            High
1      0.1  -$288.77        923.63        Critical
2      0.1   $919.97        915.49          Medium
3      0.1   -$96.54        910.16          Medium
4      0.0   $311.52        903.04        Critical
5      0.1   $763.28        897.35        Critical
6      0.0   $564.84        894.77        Critical
7      0.0   $996.48        878.38            High
8      0.0    $54.71         25.27            High
9      0.2     $5.48         11.13            High

[10 rows x 24 columns]

In [13]:
print(data.tail(10))

       Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
51280   35112  CA-2014-ZD21925140-41829 2014-07-09 2014-07-09        Same Day
51281    6039   MX-2015-HG1502518-42164 2015-06-09 2015-06-11     First Class
51282   24175    IN-2015-DB132707-42221 2015-08-05 2015-08-10  Standard Class
51283   24105   IN-2015-KH1633058-42154 2015-05-30 2015-05-30        Same Day
51284    9922   MX-2013-KM1637593-41636 2013-12-28 2013-12-31     First Class
51285   29002   IN-2015-KE1642066-42174 2015-06-19 2015-06-19        Same Day
51286   34337  US-2014-ZD21925140-41765 2014-05-06 2014-05-10  Standard Class
51287   31315  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class
51288    9596   MX-2013-RB1979518-41322 2013-02-17 2013-02-21  Standard Class
51289    6147   MX-2013-MC1810093-41416 2013-05-22 2013-05-26    Second Class

        Customer ID       Customer Name      Segment  Postal Code  \
51280  ZD-219251408  Zuschuss Donatelli     Consumer      32216.0
51281    HG-1502518       Hunter Glantz     Consumer          NaN
51282     DB-132707   Deborah Brumfield  Home Office          NaN
51283    KH-1633058     Katharine Harms    Corporate          NaN
51284    KM-1637593    Katherine Murray  Home Office          NaN
51285    KE-1642066     Katrina Edelman    Corporate          NaN
51286  ZD-219251408  Zuschuss Donatelli     Consumer      37421.0
51287  ZD-219251404  Zuschuss Donatelli     Consumer      94109.0
51288    RB-1979518          Ross Baird  Home Office          NaN
51289    MC-1810093       Mick Crebagga     Consumer          NaN

                     City  ...   Product ID         Category Sub-Category  \
51280        Jacksonville  ...  OFF-PA-6474  Office Supplies        Paper
51281  BraganÃ§a Paulista  ...  OFF-PA-4475  Office Supplies        Paper
51282          Townsville  ...  OFF-BI-3253  Office Supplies      Binders
51283             Lucknow  ...  OFF-PA-4007  Office Supplies        Paper
51284             Managua  ...  OFF-PA-5876  Office Supplies        Paper
51285                Kure  ...  OFF-FA-3072  Office Supplies    Fasteners
51286         Chattanooga  ...  FUR-FU-4070        Furniture  Furnishings
51287       San Francisco  ...  OFF-AR-5321  Office Supplies          Art
51288            Valinhos  ...  OFF-BI-2919  Office Supplies      Binders
51289            Tipitapa  ...  OFF-PA-3990  Office Supplies        Paper

                                        Product Name   Sales Quantity  \
51280                                     Xerox 1921  $15.98        2
51281            Green Bar Message Books, Multicolor  $84.00        5
51282                          Avery Binder, Economy  $58.05        5
51283                 Eaton Parchment Paper, Premium  $26.94        2
51284                SanDisk Message Books, 8.5 x 11  $18.64        1
51285                  Advantus Thumb Tacks, 12 Pack  $65.10        5
51286  Eldon Image Series Desk Accessories, Burgundy  $16.72        5
51287                                     Newell 341   $8.56        2
51288                        Acco Index Tab, Economy  $13.44        2
51289        Eaton Computer Printout Paper, 8.5 x 11  $61.38        3

      Discount  Profit Shipping Cost  Order Priority
51280      0.2   $5.00         2.010          Medium
51281      0.0   $9.20         1.019            High
51282      0.1  $19.95         1.010          Medium
51283      0.0   $1.86         1.010            High
51284      0.0   $8.00         1.010          Medium
51285      0.0   $4.50         1.010          Medium
51286      0.2   $3.34         1.930            High
51287      0.0   $2.48         1.580            High
51288      0.0   $2.40         1.003          Medium
51289      0.0   $1.80         1.002            High

[10 rows x 24 columns]

In [15]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  object
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  object
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(17)
memory usage: 9.4+ MB
None

In [16]:
data.describe()

,Row ID,Order Date,Ship Date,Postal Code,Quantity,Discount,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2014-05-11 21:26:49.155780608,2014-05-15 20:42:42.745174528,55190.379428,3.476545,0.142908,26.478567
min,1.00000,2012-01-01 00:00:00,2012-01-03 00:00:00,1040.000000,1.000000,0.000000,1.002000
25%,12823.25000,2013-06-19 00:00:00,2013-06-23 00:00:00,23223.000000,2.000000,0.000000,2.610000
50%,25645.50000,2014-07-08 00:00:00,2014-07-12 00:00:00,56430.500000,3.000000,0.000000,7.790000
75%,38467.75000,2015-05-22 00:00:00,2015-05-26 00:00:00,90008.000000,5.000000,0.200000,24.450000
max,51290.00000,2015-12-31 00:00:00,2016-01-07 00:00:00,99301.000000,14.000000,0.850000,933.570000
std,14806.29199,NaN,NaN,32063.693350,2.278766,0.212280,57.251373

In [17]:
print(data.isnull())

       Row ID  Order ID  Order Date  Ship Date  Ship Mode  Customer ID  \
0       False     False       False      False      False        False
1       False     False       False      False      False        False
2       False     False       False      False      False        False
3       False     False       False      False      False        False
4       False     False       False      False      False        False
...       ...       ...         ...        ...        ...          ...
51285   False     False       False      False      False        False
51286   False     False       False      False      False        False
51287   False     False       False      False      False        False
51288   False     False       False      False      False        False
51289   False     False       False      False      False        False

       Customer Name  Segment  Postal Code   City  ...  Product ID  Category  \
0              False    False        False  False  ...       False     False
1              False    False         True  False  ...       False     False
2              False    False         True  False  ...       False     False
3              False    False         True  False  ...       False     False
4              False    False         True  False  ...       False     False
...              ...      ...          ...    ...  ...         ...       ...
51285          False    False         True  False  ...       False     False
51286          False    False        False  False  ...       False     False
51287          False    False        False  False  ...       False     False
51288          False    False         True  False  ...       False     False
51289          False    False         True  False  ...       False     False

       Sub-Category  Product Name  Sales  Quantity  Discount  Profit  \
0             False         False  False     False     False   False
1             False         False  False     False     False   False
2             False         False  False     False     False   False
3             False         False  False     False     False   False
4             False         False  False     False     False   False
...             ...           ...    ...       ...       ...     ...
51285         False         False  False     False     False   False
51286         False         False  False     False     False   False
51287         False         False  False     False     False   False
51288         False         False  False     False     False   False
51289         False         False  False     False     False   False

       Shipping Cost  Order Priority
0              False           False
1              False           False
2              False           False
3              False           False
4              False           False
...              ...             ...
51285          False           False
51286          False           False
51287          False           False
51288          False           False
51289          False           False

[51290 rows x 24 columns]

In [18]:
print(data.isnull().sum())

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

#Duplicates value in pandas

In [22]:
print(data.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
51285    False
51286    False
51287    False
51288    False
51289    False
Length: 51290, dtype: bool

In [23]:
print(data.duplicated().sum())

0

In [27]:
print(data.drop_duplicates("Row ID"))

       Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
0       40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
1       26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07    Second Class
2       25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18     First Class
3       13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30     First Class
4       47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06        Same Day
...       ...                       ...        ...        ...             ...
51285   29002   IN-2015-KE1642066-42174 2015-06-19 2015-06-19        Same Day
51286   34337  US-2014-ZD21925140-41765 2014-05-06 2014-05-10  Standard Class
51287   31315  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class
51288    9596   MX-2013-RB1979518-41322 2013-02-17 2013-02-21  Standard Class
51289    6147   MX-2013-MC1810093-41416 2013-05-22 2013-05-26    Second Class

        Customer ID       Customer Name      Segment  Postal Code  \
0      AB-100151402       Aaron Bergman     Consumer      73120.0
1         JR-162107       Justin Ritter    Corporate          NaN
2         CR-127307        Craig Reiter     Consumer          NaN
3        KM-1637548    Katherine Murray  Home Office          NaN
4        RH-9495111         Rick Hansen     Consumer          NaN
...             ...                 ...          ...          ...
51285    KE-1642066     Katrina Edelman    Corporate          NaN
51286  ZD-219251408  Zuschuss Donatelli     Consumer      37421.0
51287  ZD-219251404  Zuschuss Donatelli     Consumer      94109.0
51288    RB-1979518          Ross Baird  Home Office          NaN
51289    MC-1810093       Mick Crebagga     Consumer          NaN

                City  ...   Product ID         Category Sub-Category  \
0      Oklahoma City  ...  TEC-PH-5816       Technology       Phones
1         Wollongong  ...  FUR-CH-5379        Furniture       Chairs
2           Brisbane  ...  TEC-PH-5356       Technology       Phones
3             Berlin  ...  TEC-PH-5267       Technology       Phones
4              Dakar  ...  TEC-CO-6011       Technology      Copiers
...              ...  ...          ...              ...          ...
51285           Kure  ...  OFF-FA-3072  Office Supplies    Fasteners
51286    Chattanooga  ...  FUR-FU-4070        Furniture  Furnishings
51287  San Francisco  ...  OFF-AR-5321  Office Supplies          Art
51288       Valinhos  ...  OFF-BI-2919  Office Supplies      Binders
51289       Tipitapa  ...  OFF-PA-3990  Office Supplies        Paper

                                        Product Name      Sales Quantity  \
0                                   Samsung Convoy 3    $221.98        2
1          Novimex Executive Leather Armchair, Black  $3,709.40        9
2                  Nokia Smart Phone, with Caller ID  $5,175.17        9
3                     Motorola Smart Phone, Cordless  $2,892.51        5
4                     Sharp Wireless Fax, High-Speed  $2,832.96        8
...                                              ...        ...      ...
51285                  Advantus Thumb Tacks, 12 Pack     $65.10        5
51286  Eldon Image Series Desk Accessories, Burgundy     $16.72        5
51287                                     Newell 341      $8.56        2
51288                        Acco Index Tab, Economy     $13.44        2
51289        Eaton Computer Printout Paper, 8.5 x 11     $61.38        3

      Discount    Profit Shipping Cost  Order Priority
0          0.0    $62.15        40.770            High
1          0.1  -$288.77       923.630        Critical
2          0.1   $919.97       915.490          Medium
3          0.1   -$96.54       910.160          Medium
4          0.0   $311.52       903.040        Critical
...        ...       ...           ...             ...
51285      0.0     $4.50         1.010          Medium
51286      0.2     $3.34         1.930            High
51287      0.0     $2.48         1.580            High
51288      0.0     $2.40         1.003          Medium
51289      0.0     $1.80         1.002            High

[51290 rows x 24 columns]

#Working with missing data in pandas

In [8]:
print(data.isnull().sum())

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [9]:
print(data.dropna())

       Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
0       40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
8       40099  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
9       36258  CA-2012-AB10015140-40974 2012-03-06 2012-03-07     First Class
10      36259  CA-2012-AB10015140-40974 2012-03-06 2012-03-07     First Class
16      39519  CA-2012-AB10015140-40958 2012-02-19 2012-02-25  Standard Class
...       ...                       ...        ...        ...             ...
51271   37194  CA-2014-ZD21925140-41733 2014-04-04 2014-04-10  Standard Class
51276   31317  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class
51280   35112  CA-2014-ZD21925140-41829 2014-07-09 2014-07-09        Same Day
51286   34337  US-2014-ZD21925140-41765 2014-05-06 2014-05-10  Standard Class
51287   31315  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class

        Customer ID       Customer Name   Segment  Postal Code           City  \
0      AB-100151402       Aaron Bergman  Consumer      73120.0  Oklahoma City
8      AB-100151402       Aaron Bergman  Consumer      73120.0  Oklahoma City
9      AB-100151404       Aaron Bergman  Consumer      98103.0        Seattle
10     AB-100151404       Aaron Bergman  Consumer      98103.0        Seattle
16     AB-100151402       Aaron Bergman  Consumer      76017.0      Arlington
...             ...                 ...       ...          ...            ...
51271  ZD-219251402  Zuschuss Donatelli  Consumer      47374.0       Richmond
51276  ZD-219251404  Zuschuss Donatelli  Consumer      94109.0  San Francisco
51280  ZD-219251408  Zuschuss Donatelli  Consumer      32216.0   Jacksonville
51286  ZD-219251408  Zuschuss Donatelli  Consumer      37421.0    Chattanooga
51287  ZD-219251404  Zuschuss Donatelli  Consumer      94109.0  San Francisco

       ...   Product ID         Category Sub-Category  \
0      ...  TEC-PH-5816       Technology       Phones
8      ...  FUR-BO-5957        Furniture    Bookcases
9      ...  FUR-CH-4421        Furniture       Chairs
10     ...  OFF-AR-5309  Office Supplies          Art
16     ...  OFF-ST-3078  Office Supplies      Storage
...    ...          ...              ...          ...
51271  ...  FUR-FU-5983        Furniture  Furnishings
51276  ...  OFF-BI-6395  Office Supplies      Binders
51280  ...  OFF-PA-6474  Office Supplies        Paper
51286  ...  FUR-FU-4070        Furniture  Furnishings
51287  ...  OFF-AR-5321  Office Supplies          Art

                                            Product Name    Sales Quantity  \
0                                       Samsung Convoy 3  $221.98        2
8      Sauder Facets Collection Library, Sky Alder Fi...  $341.96        2
9             Global Push Button Manager's Chair, Indigo   $48.71        1
10                                            Newell 330   $17.94        3
16                                    Akro Stacking Bins   $12.62        2
...                                                  ...      ...      ...
51271                     Seth Thomas 13 1/2" Wall Clock   $71.12        4
51276        Wilson Jones Hanging View Binder, White, 1"   $22.72        4
51280                                         Xerox 1921   $15.98        2
51286      Eldon Image Series Desk Accessories, Burgundy   $16.72        5
51287                                         Newell 341    $8.56        2

      Discount  Profit Shipping Cost  Order Priority
0          0.0  $62.15         40.77            High
8          0.0  $54.71         25.27            High
9          0.2   $5.48         11.13            High
10         0.0   $4.66          4.29            High
16         0.2  -$2.52          1.97             Low
...        ...     ...           ...             ...
51271      0.0  $22.05          7.30          Medium
51276      0.2   $7.38          3.21            High
51280      0.2   $5.00          2.01          Medium
51286      0.2   $3.34          1.93            High
51287      0.0   $2.48          1.58            High

[9994 rows x 24 columns]

In [10]:
 import numpy as np
 print(data.replace(np.nan,492010))

       Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
0       40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
1       26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07    Second Class
2       25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18     First Class
3       13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30     First Class
4       47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06        Same Day
...       ...                       ...        ...        ...             ...
51285   29002   IN-2015-KE1642066-42174 2015-06-19 2015-06-19        Same Day
51286   34337  US-2014-ZD21925140-41765 2014-05-06 2014-05-10  Standard Class
51287   31315  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class
51288    9596   MX-2013-RB1979518-41322 2013-02-17 2013-02-21  Standard Class
51289    6147   MX-2013-MC1810093-41416 2013-05-22 2013-05-26    Second Class

        Customer ID       Customer Name      Segment  Postal Code  \
0      AB-100151402       Aaron Bergman     Consumer      73120.0
1         JR-162107       Justin Ritter    Corporate     492010.0
2         CR-127307        Craig Reiter     Consumer     492010.0
3        KM-1637548    Katherine Murray  Home Office     492010.0
4        RH-9495111         Rick Hansen     Consumer     492010.0
...             ...                 ...          ...          ...
51285    KE-1642066     Katrina Edelman    Corporate     492010.0
51286  ZD-219251408  Zuschuss Donatelli     Consumer      37421.0
51287  ZD-219251404  Zuschuss Donatelli     Consumer      94109.0
51288    RB-1979518          Ross Baird  Home Office     492010.0
51289    MC-1810093       Mick Crebagga     Consumer     492010.0

                City  ...   Product ID         Category Sub-Category  \
0      Oklahoma City  ...  TEC-PH-5816       Technology       Phones
1         Wollongong  ...  FUR-CH-5379        Furniture       Chairs
2           Brisbane  ...  TEC-PH-5356       Technology       Phones
3             Berlin  ...  TEC-PH-5267       Technology       Phones
4              Dakar  ...  TEC-CO-6011       Technology      Copiers
...              ...  ...          ...              ...          ...
51285           Kure  ...  OFF-FA-3072  Office Supplies    Fasteners
51286    Chattanooga  ...  FUR-FU-4070        Furniture  Furnishings
51287  San Francisco  ...  OFF-AR-5321  Office Supplies          Art
51288       Valinhos  ...  OFF-BI-2919  Office Supplies      Binders
51289       Tipitapa  ...  OFF-PA-3990  Office Supplies        Paper

                                        Product Name      Sales Quantity  \
0                                   Samsung Convoy 3    $221.98        2
1          Novimex Executive Leather Armchair, Black  $3,709.40        9
2                  Nokia Smart Phone, with Caller ID  $5,175.17        9
3                     Motorola Smart Phone, Cordless  $2,892.51        5
4                     Sharp Wireless Fax, High-Speed  $2,832.96        8
...                                              ...        ...      ...
51285                  Advantus Thumb Tacks, 12 Pack     $65.10        5
51286  Eldon Image Series Desk Accessories, Burgundy     $16.72        5
51287                                     Newell 341      $8.56        2
51288                        Acco Index Tab, Economy     $13.44        2
51289        Eaton Computer Printout Paper, 8.5 x 11     $61.38        3

      Discount    Profit Shipping Cost  Order Priority
0          0.0    $62.15        40.770            High
1          0.1  -$288.77       923.630        Critical
2          0.1   $919.97       915.490          Medium
3          0.1   -$96.54       910.160          Medium
4          0.0   $311.52       903.040        Critical
...        ...       ...           ...             ...
51285      0.0     $4.50         1.010          Medium
51286      0.2     $3.34         1.930            High
51287      0.0     $2.48         1.580            High
51288      0.0     $2.40         1.003          Medium
51289      0.0     $1.80         1.002            High

[51290 rows x 24 columns]

In [13]:
data["Postal Code"] = data["Postal Code"].replace(np.nan,492010)
print(data)

       Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
0       40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
1       26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07    Second Class
2       25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18     First Class
3       13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30     First Class
4       47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06        Same Day
...       ...                       ...        ...        ...             ...
51285   29002   IN-2015-KE1642066-42174 2015-06-19 2015-06-19        Same Day
51286   34337  US-2014-ZD21925140-41765 2014-05-06 2014-05-10  Standard Class
51287   31315  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class
51288    9596   MX-2013-RB1979518-41322 2013-02-17 2013-02-21  Standard Class
51289    6147   MX-2013-MC1810093-41416 2013-05-22 2013-05-26    Second Class

        Customer ID       Customer Name      Segment  Postal Code  \
0      AB-100151402       Aaron Bergman     Consumer      73120.0
1         JR-162107       Justin Ritter    Corporate     492010.0
2         CR-127307        Craig Reiter     Consumer     492010.0
3        KM-1637548    Katherine Murray  Home Office     492010.0
4        RH-9495111         Rick Hansen     Consumer     492010.0
...             ...                 ...          ...          ...
51285    KE-1642066     Katrina Edelman    Corporate     492010.0
51286  ZD-219251408  Zuschuss Donatelli     Consumer      37421.0
51287  ZD-219251404  Zuschuss Donatelli     Consumer      94109.0
51288    RB-1979518          Ross Baird  Home Office     492010.0
51289    MC-1810093       Mick Crebagga     Consumer     492010.0

                City  ...   Product ID         Category Sub-Category  \
0      Oklahoma City  ...  TEC-PH-5816       Technology       Phones
1         Wollongong  ...  FUR-CH-5379        Furniture       Chairs
2           Brisbane  ...  TEC-PH-5356       Technology       Phones
3             Berlin  ...  TEC-PH-5267       Technology       Phones
4              Dakar  ...  TEC-CO-6011       Technology      Copiers
...              ...  ...          ...              ...          ...
51285           Kure  ...  OFF-FA-3072  Office Supplies    Fasteners
51286    Chattanooga  ...  FUR-FU-4070        Furniture  Furnishings
51287  San Francisco  ...  OFF-AR-5321  Office Supplies          Art
51288       Valinhos  ...  OFF-BI-2919  Office Supplies      Binders
51289       Tipitapa  ...  OFF-PA-3990  Office Supplies        Paper

                                        Product Name      Sales Quantity  \
0                                   Samsung Convoy 3    $221.98        2
1          Novimex Executive Leather Armchair, Black  $3,709.40        9
2                  Nokia Smart Phone, with Caller ID  $5,175.17        9
3                     Motorola Smart Phone, Cordless  $2,892.51        5
4                     Sharp Wireless Fax, High-Speed  $2,832.96        8
...                                              ...        ...      ...
51285                  Advantus Thumb Tacks, 12 Pack     $65.10        5
51286  Eldon Image Series Desk Accessories, Burgundy     $16.72        5
51287                                     Newell 341      $8.56        2
51288                        Acco Index Tab, Economy     $13.44        2
51289        Eaton Computer Printout Paper, 8.5 x 11     $61.38        3

      Discount    Profit Shipping Cost  Order Priority
0          0.0    $62.15        40.770            High
1          0.1  -$288.77       923.630        Critical
2          0.1   $919.97       915.490          Medium
3          0.1   -$96.54       910.160          Medium
4          0.0   $311.52       903.040        Critical
...        ...       ...           ...             ...
51285      0.0     $4.50         1.010          Medium
51286      0.2     $3.34         1.930            High
51287      0.0     $2.48         1.580            High
51288      0.0     $2.40         1.003          Medium
51289      0.0     $1.80         1.002            High

[51290 rows x 24 columns]